#sideNav {
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:14rem;
    height:100vh;
    background-color: #152265f2
}

#sideNav .navbar-brand {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin:auto auto 0;
    padding:.5rem;
}

#sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
}

#principal {
    padding-left: 262px;
}

.nav-item {
    font-size: 2rem;
    font-family: Roboto, Oxygen, Ubuntu;
    padding-top: -0.5em;
}

#nombre {
    font-weight: 500;
    text-transform: uppercase;
    color: #181918f2;
    font-size: 4rem;
}

#nombre span {
    font-family: 'Roboto Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #152265f2;
}

.centered {
    text-align: center;
}

#resumen {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    padding-top: 2rem;
}

.seccion {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

h1 {
    font-family: 'Roboto Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 300;
    color: #181918f2;
    font-size: 4rem;
    text-align: center;
}

#info {
    color: #868e96;
}

.buttons-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#skills .buttons-container i{
    margin: 0px 8px;
    font-size: 2rem;
    color: #868e96;
}

.buttons-container a i{
    margin: 0px 8px;
    font-size: 3rem;
    cursor: pointer;
}

p {
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

h2 {
    font-family: 'Roboto Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 500;
    color: #868e96;
    font-size: 2.2rem;
    text-align: center;
    padding-top: 1.5rem;
}

ul li a {
    cursor: pointer;
}

img {
    height: 200px;
}

#projects {
    padding-bottom: 5rem;
}